{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>
    <div> 
        <img class="flash-img" src "https://cdn.discordapp.com/attachments/879825399306125332/1032783354145275944/IMG_6443.png">
        <div/>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
