{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="technology">
            <div class="sidebar">
                <a herf="css">CSS</a>
                <a herf="git">git</a>
                <a herf="javascript">Java Script</a>
                <a herf="html">HTML</a>
                <a herf="php">PHP</a>
                <a herf="sqlite">Sqlite</a>
                <a herf="pyhton">Python</a>
            </div>
            <div class="techno">
            {{content}}
    </div>
</div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
