@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'base';
@import 'variables-dark';
@import 'gallery';
@import 'typography';

@import 'blockquotes';
@import 'code';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'technology';
@import 'technologies';
@import 'analysis';
@import 'base';


* {
    color: $font-color;
}
body {
    background-color: rgb(95, 84, 95);
}

* {
    font-family: sans-serif;
}

* {
    color: white;
}


.colors h3{
   
        background-color: #89355c;
}

.load h3 {
    
        background-color: #89355c;
}

.design h3 {

        background-color: #89355c;
}
